.Button {
    background-color: #341B5F;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    font-family: 'Press Start 2P', sans-serif; 
    padding: 40px 80px;
    font-size: 2em;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 60px;
    cursor: pointer;
}

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
}